
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectado</title>
</head>
<body>
    <pre><%= data[1].pk_id_cliente %></pre>
    <h4>Conectado a MariaDB</h4>
    
    <h4>Registrando cliente</h4>
    <div class="formulario">
        <form action="/add" method="post">
            <div>
                <input type="text" name="pk_id_cliente" placeholder="Numero" class="forma" required="" maxlength="70">
            </div><br>
            <div>
                <input type="text" name="nombre_c" placeholder="Nombre" class="forma" required="" maxlength="70">
            </div><br>
            <div>
                <input type="text" name="apellido_c" placeholder="Apellido" class="forma" required="" maxlength="70">
            </div><br>
            <div>
                <input type="text" name="direccion" placeholder="Direccion" class="forma" required="" maxlength="70">
            </div><br>
            <div>
                <input type="text" name="codigo_postal" placeholder="Codigo" class="forma" required="" maxlength="70">
            </div><br>
            <div>
                <input type="text" name="num_tel" placeholder="Telefono" class="forma" required="" maxlength="70">
            </div><br>
            <button type="submit">Registrar</button>
        </form>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>id_cliente</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>direccion</th>
                    <th>codigo</th>
                    <th>numero</th>
                </tr>
            </thead><br>
            <body>
                <% if(data){ %>
                    <%for(var i = 0;i<data.length;i++){ %>
                        <tr>
                            <td>
                                <%= data[i].pk_id_cliente %>
                            </td>
                            <td>
                                <%= data[i].nombre_c %>
                            </td>
                            <td>
                                <%= data[i].apellido_c %>
                            </td>
                            <td>
                                <%= data[i].direccion %>
                            </td>
                            <td>
                                <%= data[i].codigo_postal %>
                            </td>
                            <td>
                                <%= data[i].num_tel %>
                            </td>
                        </tr>
                        
                        <a href="/eliminar/<%= data[i].pk_id_cliente%>">
                            <button type="submit">Eliminar</button></a>
                    <% } %>
                <% } %>
            </body>
        </table>
    </div><br>
</body>
</html>